<div *ngIf="profile">
  <h3>"{{ editName }}"</h3>
  <mat-list>
    <mat-list-item>
      <label>Id: </label>{{ profile.userId }}
    </mat-list-item>
    <mat-list-item>
      <label>First Name: </label>{{ profile.firstName }}
    </mat-list-item>
    <mat-list-item>
      <label>Last Name: </label>{{ profile.lastName }}
    </mat-list-item>
    <mat-list-item>
      <label>Description of Meal preference: </label>{{ profile.preference }}
    </mat-list-item>
    <mat-list-item>
      <label>Department: </label>{{ profile.department }}
    </mat-list-item>
    <mat-list-item>
      <label>Team: </label>{{ profile.team }}
    </mat-list-item>
  </mat-list>
  <p>
    <button mat-raised-button color="primary" (click)="goBack()">Go back</button>
  </p>
</div>